<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="col-md-6">
        <h1>Elastidex</h1>
        <hr>
        <div class="row">
            <div class="col-md-10">
                <input class="form-control" type="text" placeholder="Enter search term here" id="searchTerms">
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary" onclick="searchPokemon()">Search</button>
            </div>
        </div>
        <hr>
        <button class="btn btn-danger" onclick="addQuery('Name: ')">Name</button>
        <button class="btn btn-danger">Type</button>

    </div>
    <div class="col-md-6">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type(s)</th>
                <th>Total Stats</th>
            </tr>
            </thead>
            <tbody>
            <% pokemon.forEach( poke => { %>
                <tr>
                    <td><%= poke['#'] %></td>
                    <td><%= poke.Name%></td>
                    <td><%= poke['Type 1']%> <%=poke['Type 2']%></td>
                    <td><%= poke.Total%></td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>
</body>
<script>
    function addQuery(e) {
        let term = e + " ''";
        document.getElementById('searchTerms').value += term;
    }
    function resultReturned(){

    }

    function searchPokemon() {
        let request = new XMLHttpRequest();
        request.addEventListener("load", resultReturned);
        let data = new URLSearchParams();
        data.append("query", document.getElementById("searchTerms").value)
        request.open("POST", "http://localhost:9000/search");
        request.send(data);
    }
</script>
