<html id="doc">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="col-md-3">
        <h1><a href="/">Elastidex</a></h1>
        <hr>
        <div class="row">
            <input class="form-control" type="text" placeholder="Enter search term here" id="searchTerms">
            <hr>
            <button class="btn btn-primary" onclick="searchPokemon()">Search</button>
            <hr>
            Generation 1 <input id="cb1" type="checkbox" value="1" checked><br>
            Generation 2 <input id="cb2" type="checkbox" value="2"><br>
            Generation 3 <input id="cb3" type="checkbox" value="3"><br>
            Generation 4 <input id="cb4" type="checkbox" value="4"><br>
            Generation 5 <input id="cb5" type="checkbox" value="5"><br>
            Generation 6 <input id="cb6" type="checkbox" value="6"><br>


        </div>
    </div>
    <div class="col-md-9">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type(s)</th>
                <th>Total Stats</th>
                <th>HP</th>
                <th>Legendary</th>
            </tr>
            </thead>
            <tbody>
            <% pokemon.forEach( poke => { %>
                <tr>
                    <td><%= poke['#'] %></td>
                    <td><%= poke.Name%></td>
                    <td><%= poke['Type 1']%> <%=poke['Type 2']%></td>
                    <td><%= poke.Total%></td>
                    <td><%= poke.HP%></td>
                    <td><%= poke.Legendary%></td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>
</body>
<script>
    function checkBoxes() {
        let cbs = [];
        let endQuery = '';

        var cb1 = document.getElementById("cb1");
        var cb2 = document.getElementById("cb2");
        var cb3 = document.getElementById("cb3");
        var cb4 = document.getElementById("cb4");
        var cb5 = document.getElementById("cb5");
        var cb6 = document.getElementById("cb6");

        if (cb1.checked) cbs.push(cb1.value);
        if (cb2.checked) cbs.push(cb2.value);
        if (cb3.checked) cbs.push(cb3.value);
        if (cb4.checked) cbs.push(cb4.value);
        if (cb5.checked) cbs.push(cb5.value);
        if (cb6.checked) cbs.push(cb6.value);

        if (cbs.length >1) {
            endQuery +=  " AND (";
            cbs.forEach(box => {
                endQuery += "Generation:" + box;
                if(cbs.indexOf(box)!== cbs.length -1){
                    endQuery += " OR "
                }
            });
            endQuery += ")";
        }else{
            endQuery = " AND Generation:" + cbs[0];
        }

        console.log(endQuery);
        return endQuery;

    }
    function addQuery(e) {
        let term = e + " ''";
        document.getElementById('searchTerms').value += term;
    }
    function resultReturned(e){
        console.log(e.target.responseText);
        document.getElementById("doc").innerHTML = e.target.responseText;
    }

    function searchPokemon() {
        let request = new XMLHttpRequest();
        request.addEventListener("load", resultReturned);
        let data = new URLSearchParams();
        var searchQ = document.getElementById("searchTerms").value + checkBoxes();
        console.log(searchQ);
        data.append("query", document.getElementById("searchTerms").value + checkBoxes())
        request.open("POST", "http://localhost:9000/search");
        request.send(data);
    }
</script>
